@import "variables";
h1 {
    color: $red-color;
}

h2 {
    color: white;
}

h3 {
    color: green;
}

html {
    height: 100hv;
    ;
}

.search-form {
    padding: 10px 10px;
    padding-left: 200px;
}